In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\birds_and_regions.csv")

print(df.shape)

df.head()

(106158, 23)

,common_name,observ_count,country,state,county,lat,lon,observ_date,observ_year,observ_month,...,CountyName,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,1995,8,...,Cook,17031.0,8.0,Great Lakes,1.0,1 Urban,5203499.0,13472.458286,27.835658,100.0
1,Greater Yellowlegs,1,United States,Texas,Aransas,28.240392,-96.818819,1986-04-06,1986,4,...,Aransas,48007.0,3.0,Gulf Coast,3.0,3 Rural/Semi-Rural,25721.0,775.490975,1.602254,100.0
2,White-crowned Sparrow,1,United States,Arizona,Cochise,31.898164,-109.115932,1998-11-27,1998,11,...,Cochise,4003.0,12.0,Southwest,3.0,3 Rural/Semi-Rural,125770.0,896.841429,1.852978,100.0
3,Green-winged Teal,11,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,Ada,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0
4,Yellow-rumped Warbler,5,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,Ada,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0

In [5]:
df.columns

Index(['common_name', 'observ_count', 'country', 'state', 'county', 'lat',
       'lon', 'observ_date', 'observ_year', 'observ_month', 'season',
       'CountyState', 'State', 'CountyName', 'CountyFIPS', 'Region',
       'RegionName', 'DensityCat', 'DensityCatName', 'Population2016',
       'Density2016_SqMi', 'Density2016_PFbF', 'DensityAggreg'],
      dtype='object')

In [6]:
df.CountyState.value_counts()

Fairfield, Connecticut     2012
Essex, Massachusetts       1894
Cook, Illinois             1322
Los Angeles, California    1310
Baltimore, Maryland        1172
                           ...
Warrick, Indiana              1
Yates, New York               1
Jefferson, Ohio               1
Clinton, Ohio                 1
Jefferson, Nebraska           1
Name: CountyState, Length: 2245, dtype: int64

In [8]:
df.RegionName.value_counts()

Mid-Atlantic North    10834
Northeast             10324
Great Lakes            9016
Mountain West          8670
Appohzarka             8476
Deep South             8135
Heartland              6814
Northwest              6197
Southwest              6162
Mid-Atlantic South     4538
Great Plains           4396
West Coast             4183
Gulf Coast             3618
Southern Florida       2563
Name: RegionName, dtype: int64

In [10]:
counts = df.common_name.value_counts(normalize=True)

In [13]:
len(counts)

917

In [16]:
counts[counts > 0.00001]

Mourning Dove           0.015967
American Robin          0.014836
American Crow           0.014629
European Starling       0.013621
Song Sparrow            0.013555
                          ...
Masked Booby            0.000019
Rose-ringed Parakeet    0.000019
Yellow Rail             0.000019
Maui Alauahio           0.000019
Common Ringed Plover    0.000019
Name: common_name, Length: 799, dtype: float64

In [21]:
print("# of birds that appear more than 1% of the time:", len(counts[counts > 0.01]))
print("# of birds that appear more than .1% of the time:", len(counts[counts > 0.001]))
print("# of birds that appear more than .01% of the time:", len(counts[counts > 0.0001]))
print("# of birds that appear more than .001% of the time:", len(counts[counts > 0.00001]))
print("# of birds that appear more than .0001% of the time:", len(counts[counts > 0.000001]))

# of birds that appear more than 1% of the time: 13
# of birds that appear more than .1% of the time: 250
# of birds that appear more than .01% of the time: 560
# of birds that appear more than .001% of the time: 799
# of birds that appear more than .0001% of the time: 917

Using the above numbers, I decided on 3 categories:

    - birds that appear more than .1% are common
    - birds that appear more than .001% are uncommon
    - birds that appear less are rare

This is a rough first pass and in the future I'd like to make it more fine grained by combining location into it

In [23]:
counts['Mourning Dove']

0.01596676651783191

In [24]:
def rare_bird(x):
    bird_percent = counts[x]
    if bird_percent > 0.001:
        return "Common"
    elif bird_percent > 0.00001:
        return "Uncommon"
    else:
        return "Rare"

In [25]:
df['bird_rarity'] = df['common_name'].apply(rare_bird)

In [26]:
df.head()

,common_name,observ_count,country,state,county,lat,lon,observ_date,observ_year,observ_month,...,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg,bird_rarity
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,1995,8,...,17031.0,8.0,Great Lakes,1.0,1 Urban,5203499.0,13472.458286,27.835658,100.0,Common
1,Greater Yellowlegs,1,United States,Texas,Aransas,28.240392,-96.818819,1986-04-06,1986,4,...,48007.0,3.0,Gulf Coast,3.0,3 Rural/Semi-Rural,25721.0,775.490975,1.602254,100.0,Common
2,White-crowned Sparrow,1,United States,Arizona,Cochise,31.898164,-109.115932,1998-11-27,1998,11,...,4003.0,12.0,Southwest,3.0,3 Rural/Semi-Rural,125770.0,896.841429,1.852978,100.0,Common
3,Green-winged Teal,11,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0,Common
4,Yellow-rumped Warbler,5,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0,Common

In [28]:
df.bird_rarity.value_counts(normalize=True)

Common      0.863129
Uncommon    0.135760
Rare        0.001112
Name: bird_rarity, dtype: float64

In [29]:
df.RegionName.value_counts()

Mid-Atlantic North    10834
Northeast             10324
Great Lakes            9016
Mountain West          8670
Appohzarka             8476
Deep South             8135
Heartland              6814
Northwest              6197
Southwest              6162
Mid-Atlantic South     4538
Great Plains           4396
West Coast             4183
Gulf Coast             3618
Southern Florida       2563
Name: RegionName, dtype: int64

In [32]:
great_lakes = df.query("RegionName == 'Great Lakes'")

print(great_lakes.shape)

great_lakes.head()

(9016, 24)

,common_name,observ_count,country,state,county,lat,lon,observ_date,observ_year,observ_month,...,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg,bird_rarity
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,1995,8,...,17031.0,8.0,Great Lakes,1.0,1 Urban,5203499.0,13472.458286,27.835658,100.0,Common
9,Red-eyed Vireo,5,United States,Indiana,Jasper,41.160628,-86.936617,1944-07-16,1944,7,...,18073.0,8.0,Great Lakes,3.0,3 Rural/Semi-Rural,33433.0,113.113175,0.233705,100.0,Common
10,Red-headed Woodpecker,10,United States,Indiana,Jasper,41.160628,-86.936617,1944-07-16,1944,7,...,18073.0,8.0,Great Lakes,3.0,3 Rural/Semi-Rural,33433.0,113.113175,0.233705,100.0,Common
11,Mourning Dove,12,United States,Indiana,Jasper,41.160628,-86.936617,1944-07-16,1944,7,...,18073.0,8.0,Great Lakes,3.0,3 Rural/Semi-Rural,33433.0,113.113175,0.233705,100.0,Common
12,Green Heron,1,United States,Indiana,Jasper,41.160628,-86.936617,1944-07-16,1944,7,...,18073.0,8.0,Great Lakes,3.0,3 Rural/Semi-Rural,33433.0,113.113175,0.233705,100.0,Common

In [33]:
great_lakes.common_name.value_counts(normalize=True)

American Crow                    0.022183
American Robin                   0.021517
American Goldfinch               0.019965
Mallard                          0.019743
Blue Jay                         0.019410
                                   ...
Snow/Ross's Goose                0.000111
Vermilion Flycatcher             0.000111
Common/Red-breasted Merganser    0.000111
warbler sp. (Parulidae sp.)      0.000111
Barrow's Goldeneye               0.000111
Name: common_name, Length: 340, dtype: float64

In [39]:
counts = great_lakes.common_name.value_counts

pd.concat([
    counts(),
    counts(normalize=True)],
    axis=1)

                               common_name  common_name
American Crow                          200     0.022183
American Robin                         194     0.021517
American Goldfinch                     180     0.019965
Mallard                                178     0.019743
Blue Jay                               175     0.019410
...                                    ...          ...
Snow/Ross's Goose                        1     0.000111
Vermilion Flycatcher                     1     0.000111
Common/Red-breasted Merganser            1     0.000111
warbler sp. (Parulidae sp.)              1     0.000111
Barrow's Goldeneye                       1     0.000111

[340 rows x 2 columns]

In [43]:
counts = great_lakes.common_name.value_counts(normalize=True)

print("# of birds that appear greater than 1% of the time:", len(counts[counts > 0.01]))
print("# of birds that appear greater than .1% of the time:", len(counts[counts > 0.005]))
print("# of birds that appear greater than .1% of the time:", len(counts[counts > 0.001]))
print("# of birds that appear greater than .01% of the time:", len(counts[counts > 0.0001]))

# of birds that appear greater than 1% of the time: 22
# of birds that appear greater than .1% of the time: 60
# of birds that appear greater than .1% of the time: 183
# of birds that appear greater than .01% of the time: 340

In [51]:
regions = df.RegionName.unique().tolist()

for region in regions:
    birds = df.query(f"RegionName == '{region}'")
    print(region, len(birds))

Great Lakes 9016
Gulf Coast 3618
Southwest 6162
Mountain West 8670
Heartland 6814
Southern Florida 2563
Deep South 8135
nan 0
Appohzarka 8476
Mid-Atlantic North 10834
Great Plains 4396
Northwest 6197
West Coast 4183
Northeast 10324
Mid-Atlantic South 4538

In [53]:
regions

['Great Lakes',
 'Gulf Coast',
 'Southwest',
 'Mountain West',
 'Heartland',
 'Southern Florida',
 'Deep South',
 nan,
 'Appohzarka',
 'Mid-Atlantic North',
 'Great Plains',
 'Northwest',
 'West Coast',
 'Northeast',
 'Mid-Atlantic South']

In [52]:
df.RegionName.value_counts()

Mid-Atlantic North    10834
Northeast             10324
Great Lakes            9016
Mountain West          8670
Appohzarka             8476
Deep South             8135
Heartland              6814
Northwest              6197
Southwest              6162
Mid-Atlantic South     4538
Great Plains           4396
West Coast             4183
Gulf Coast             3618
Southern Florida       2563
Name: RegionName, dtype: int64

Deal with NAN value in RegionName

In [54]:
df.isnull().sum()

common_name             0
observ_count            0
country                 0
state                   0
county                217
lat                     0
lon                     0
observ_date             0
observ_year             0
observ_month            0
season                  0
CountyState           217
State               12232
CountyName          12232
CountyFIPS          12232
Region              12232
RegionName          12232
DensityCat          12232
DensityCatName      12232
Population2016      12232
Density2016_SqMi    12232
Density2016_PFbF    12232
DensityAggreg       12232
bird_rarity             0
dtype: int64

In [56]:
regionless = df[df['RegionName'].isnull()]

print(regionless.shape)

regionless.head()

(12232, 24)

,common_name,observ_count,country,state,county,lat,lon,observ_date,observ_year,observ_month,...,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg,bird_rarity
8,Brown Thrasher,1,United States,Texas,Van Zandt,32.69823,-95.88524,1986-07-30,1986,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Common
15,White-breasted Nuthatch,2,United States,Texas,Van Zandt,32.69823,-95.88524,1998-05-15,1998,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Common
16,Brown Thrasher,2,United States,Texas,Van Zandt,32.69823,-95.88524,1998-05-15,1998,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Common
18,American Crow,6,United States,Texas,Van Zandt,32.69823,-95.88524,1998-07-17,1998,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Common
19,American Robin,4,United States,Texas,Van Zandt,32.69823,-95.88524,1998-07-17,1998,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Common

#### TODO: Deal with these NaN values, 
    - why is Van Zandt County not in a region
    - are there other places in this df
    - i would expect to see alaska and hawaii in this issue, not texas

In [57]:
regionless.county.value_counts()

Los Angeles       1310
Santa Cruz         951
Cape May           662
Van Zandt          643
San Bernardino     579
                  ...
Buena Vista          1
Deaf Smith           1
Kit Carson           1
St. James            1
Oglala Lakota        1
Name: county, Length: 154, dtype: int64

In [59]:
regions = pd.read_excel("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\URAmericaMapCountyList.xlsx", skiprows=3)

print(regions.shape)

regions.head()

(3142, 11)

,State,CountyName,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg
0,Alabama,"Autauga County, Alabama",1001,1,01 Deep South,3,3 Rural/Semi-Rural,55416,925.973699,1.913169,100
1,Alabama,"Baldwin County, Alabama",1003,3,03 Gulf Coast,3,3 Rural/Semi-Rural,208563,475.934591,0.983336,100
2,Alabama,"Barbour County, Alabama",1005,1,01 Deep South,3,3 Rural/Semi-Rural,25965,139.162914,0.287527,100
3,Alabama,"Bibb County, Alabama",1007,2,02 Appohzarka,3,3 Rural/Semi-Rural,22643,51.047742,0.105471,100
4,Alabama,"Blount County, Alabama",1009,2,02 Appohzarka,3,3 Rural/Semi-Rural,57704,97.358358,0.201154,100

In [61]:
regions.query("State == ' California'")

,State,CountyName,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg
186,California,"Alameda County, California",6001,14,14 Northwest,1,1 Urban,1647704,10687.188302,22.080968,100
187,California,"Alpine County, California",6003,11,11 Mountain West,3,3 Rural/Semi-Rural,1071,1.603597,0.003313,100
188,California,"Amador County, California",6005,11,11 Mountain West,3,3 Rural/Semi-Rural,37383,116.780575,0.241282,100
189,California,"Butte County, California",6007,11,11 Mountain West,3,3 Rural/Semi-Rural,226864,2282.275565,4.715445,100
190,California,"Calaveras County, California",6009,11,11 Mountain West,3,3 Rural/Semi-Rural,45171,69.410391,0.143410,100
191,California,"Colusa County, California",6011,11,11 Mountain West,3,3 Rural/Semi-Rural,21588,30.045805,0.062078,100
192,California,"Contra Costa County, California",6013,14,14 Northwest,1,1 Urban,1135127,5058.566743,10.451584,100
193,California,"Del Norte County, California",6015,14,14 Northwest,3,3 Rural/Semi-Rural,27540,965.282338,1.994385,100
194,California,"El Dorado County, California",6017,11,11 Mountain West,3,3 Rural/Semi-Rural,185625,977.015703,2.018627,100
195,California,"Fresno County, California",6019,13,13 West Coast,1,1 Urban,979915,4290.679727,8.865041,100
196,California,"Glenn County, California",6021,11,11 Mountain West,3,3 Rural/Semi-Rural,28085,610.925261,1.262242,100
197,California,"Humboldt County, California",6023,14,14 Northwest,3,3 Rural/Semi-Rural,136646,1502.474274,3.104286,100
198,California,"Imperial County, California",6025,12,12 Southwest,3,3 Rural/Semi-Rural,180883,3244.064359,6.702612,100
199,California,"Inyo County, California",6027,12,12 Southwest,3,3 Rural/Semi-Rural,18144,555.257682,1.147227,100
200,California,"Kern County, California",6029,13,13 West Coast,1,1 Urban,884788,3828.755752,7.910652,100
201,California,"Kings County, California",6031,13,13 West Coast,3,3 Rural/Semi-Rural,149785,2771.585418,5.726416,100
202,California,"Lake County, California",6033,14,14 Northwest,3,3 Rural/Semi-Rural,64116,571.136156,1.180033,100
203,California,"Lassen County, California",6035,11,11 Mountain West,3,3 Rural/Semi-Rural,30870,94.194201,0.194616,100
204,California,"Los Angeles County, California",6037,13,13 West Coast,1,1 Urban,10137915,13535.741916,27.966409,100
205,California,"Madera County, California",6039,13,13 West Coast,3,3 Rural/Semi-Rural,154697,2436.016192,5.033091,100
206,California,"Marin County, California",6041,14,14 Northwest,1,1 Urban,260651,5154.906711,10.650634,100
207,California,"Mariposa County, California",6043,11,11 Mountain West,3,3 Rural/Semi-Rural,17410,19.376800,0.040035,100
208,California,"Mendocino County, California",6045,14,14 Northwest,3,3 Rural/Semi-Rural,87628,839.721348,1.734961,100
209,California,"Merced County, California",6047,13,13 West Coast,2,2 Medium-Urban,268672,2551.627090,5.271957,100
210,California,"Modoc County, California",6049,11,11 Mountain West,3,3 Rural/Semi-Rural,8795,123.120778,0.254382,100
211,California,"Mono County, California",6051,11,11 Mountain West,3,3 Rural/Semi-Rural,13981,70.753647,0.146185,100
212,California,"Monterey County, California",6053,13,13 West Coast,1,1 Urban,435232,6408.845653,13.241417,100
213,California,"Napa County, California",6055,14,14 Northwest,2,2 Medium-Urban,142166,4278.643469,8.840172,100
214,California,"Nevada County, California",6057,11,11 Mountain West,3,3 Rural/Semi-Rural,99107,537.594206,1.110732,100
215,California,"Orange County, California",6059,13,13 West Coast,1,1 Urban,3172532,8918.094225,18.425815,100
216,California,"Placer County, California",6061,11,11 Mountain West,2,2 Medium-Urban,380531,2627.712456,5.429158,100
217,California,"Plumas County, California",6063,11,11 Mountain West,3,3 Rural/Semi-Rural,18627,34.814329,0.071930,100
218,California,"Riverside County, California",6065,13,13 West Coast,1,1 Urban,2387741,4180.521723,8.637442,100
219,California,"Sacramento County, California",6067,11,11 Mountain West,1,1 Urban,1514460,5697.163410,11.770999,100
220,California,"San Benito County, California",6069,13,13 West Coast,2,2 Medium-Urban,59414,3497.373918,7.225979,100
221,California,"San Bernardino County, California",6071,13,13 West Coast,1,1 Urban,2140096,4762.113956,9.839078,100
222,California,"San Diego County, California",6073,13,13 West Coast,1,1 Urban,3317749,7308.020788,15.099217,100
223,California,"San Francisco County, California",6075,14,14 Northwest,1,1 Urban,870887,30508.122047,63.033310,100
224,California,"San Joaquin County, California",6077,13,13 West Coast,1,1 Urban,733709,5020.773912,10.373500,100
225,California,"San Luis Obispo County, California",6079,13,13 West Coast,2,2 Medium-Urban,282887,2241.259856,4.630702,100
226,California,"San Mateo County, California",6081,14,14 Northwest,1,1 Urban,764797,9540.881953,19.712566,100
227,California,"Santa Barbara County, California",6083,13,13 West Coast,1,1 Urban,446170,6660.903591,13.762198,100
228,California,"Santa Clara County, California",6085,14,14 Northwest,1,1 Urban,1919402,9198.375219,19.004907,100
229,California,"Santa Cruz County, California",6087,14,14 Northwest,1,1 Urban,274673,4719.981305,9.752027,100
230,California,"Shasta County, California",6089,11,11 Mountain West,3,3 Rural/Semi-Rural,179631,1347.834939,2.784783,100
231,California,"Sierra County, California",6091,11,11 Mountain West,3,3 Rural/Semi-Rural,2947,3.075009,0.006353,100
232,California,"Siskiyou County, California",6093,11,11 Mountain West,3,3 Rural/Semi-Rural,43603,172.784874,0.356994,100
233,California,"Solano County, California",6095,14,14 Northwest,1,1 Urban,440207,4610.678154,9.526195,100
234,California,"Sonoma County, California",6097,14,14 Northwest,2,2 Medium-Urban,503070,3286.244723,6.789762,100
235,California,"Stanislaus County, California",6099,13,13 West Coast,1,1 Urban,541560,4464.708609,9.224605,100
236,California,"Sutter County, California",6101,11,11 Mountain West,3,3 Rural/Semi-Rural,96651,2516.767792,5.199933,100
237,California,"Tehama County, California",6103,11,11 Mountain West,3,3 Rural/Semi-Rural,63276,448.762884,0.927196,100
238,California,"Trinity County, California",6105,14,14 Northwest,3,3 Rural/Semi-Rural,12782,6.096141,0.012595,100
239,California,"Tulare County, California",6107,13,13 West Coast,2,2 Medium-Urban,460437,2856.765816,5.902409,100
240,California,"Tuolumne County, California",6109,11,11 Mountain West,3,3 Rural/Semi-Rural,53804,629.560440,1.300745,100
241,California,"Ventura County, California",6111,13,13 West Coast,1,1 Urban,849738,5667.890570,11.710518,100
242,California,"Yolo County, California",6113,11,11 Mountain West,1,1 Urban,215802,4613.933952,9.532921,100
243,California,"Yuba County, California",6115,11,11 Mountain West,3,3 Rural/Semi-Rural,75275,1822.255182,3.764990,100

The issue was some counties have "county" in the name, others didnt. Checking other df below

In [63]:
regionless.columns

Index(['common_name', 'observ_count', 'country', 'state', 'county', 'lat',
       'lon', 'observ_date', 'observ_year', 'observ_month', 'season',
       'CountyState', 'State', 'CountyName', 'CountyFIPS', 'Region',
       'RegionName', 'DensityCat', 'DensityCatName', 'Population2016',
       'Density2016_SqMi', 'Density2016_PFbF', 'DensityAggreg', 'bird_rarity'],
      dtype='object')

In [66]:
regionless.county.value_counts()

Los Angeles       1310
Santa Cruz         951
Cape May           662
Van Zandt          643
San Bernardino     579
                  ...
Buena Vista          1
Deaf Smith           1
Kit Carson           1
St. James            1
Oglala Lakota        1
Name: county, Length: 154, dtype: int64

In [67]:
regions.columns

Index(['State', 'CountyName', 'CountyFIPS', 'Region', 'RegionName',
       'DensityCat', 'DensityCatName', 'Population2016', 'Density2016_SqMi',
       'Density2016_PFbF', 'DensityAggreg'],
      dtype='object')

In [70]:
regions['CountyName'] = regions['CountyName'].apply(lambda x: ' '.join(x.split()[:-1] if 'County' in x else x))

In [71]:
regions.query("State == ' California'")

,State,CountyName,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg
186,California,Alameda,6001,14,14 Northwest,1,1 Urban,1647704,10687.188302,22.080968,100
187,California,Alpine,6003,11,11 Mountain West,3,3 Rural/Semi-Rural,1071,1.603597,0.003313,100
188,California,Amador,6005,11,11 Mountain West,3,3 Rural/Semi-Rural,37383,116.780575,0.241282,100
189,California,Butte,6007,11,11 Mountain West,3,3 Rural/Semi-Rural,226864,2282.275565,4.715445,100
190,California,Calaveras,6009,11,11 Mountain West,3,3 Rural/Semi-Rural,45171,69.410391,0.143410,100
191,California,Colusa,6011,11,11 Mountain West,3,3 Rural/Semi-Rural,21588,30.045805,0.062078,100
192,California,Contra Costa,6013,14,14 Northwest,1,1 Urban,1135127,5058.566743,10.451584,100
193,California,Del Norte,6015,14,14 Northwest,3,3 Rural/Semi-Rural,27540,965.282338,1.994385,100
194,California,El Dorado,6017,11,11 Mountain West,3,3 Rural/Semi-Rural,185625,977.015703,2.018627,100
195,California,Fresno,6019,13,13 West Coast,1,1 Urban,979915,4290.679727,8.865041,100
196,California,Glenn,6021,11,11 Mountain West,3,3 Rural/Semi-Rural,28085,610.925261,1.262242,100
197,California,Humboldt,6023,14,14 Northwest,3,3 Rural/Semi-Rural,136646,1502.474274,3.104286,100
198,California,Imperial,6025,12,12 Southwest,3,3 Rural/Semi-Rural,180883,3244.064359,6.702612,100
199,California,Inyo,6027,12,12 Southwest,3,3 Rural/Semi-Rural,18144,555.257682,1.147227,100
200,California,Kern,6029,13,13 West Coast,1,1 Urban,884788,3828.755752,7.910652,100
201,California,Kings,6031,13,13 West Coast,3,3 Rural/Semi-Rural,149785,2771.585418,5.726416,100
202,California,Lake,6033,14,14 Northwest,3,3 Rural/Semi-Rural,64116,571.136156,1.180033,100
203,California,Lassen,6035,11,11 Mountain West,3,3 Rural/Semi-Rural,30870,94.194201,0.194616,100
204,California,Los Angeles,6037,13,13 West Coast,1,1 Urban,10137915,13535.741916,27.966409,100
205,California,Madera,6039,13,13 West Coast,3,3 Rural/Semi-Rural,154697,2436.016192,5.033091,100
206,California,Marin,6041,14,14 Northwest,1,1 Urban,260651,5154.906711,10.650634,100
207,California,Mariposa,6043,11,11 Mountain West,3,3 Rural/Semi-Rural,17410,19.376800,0.040035,100
208,California,Mendocino,6045,14,14 Northwest,3,3 Rural/Semi-Rural,87628,839.721348,1.734961,100
209,California,Merced,6047,13,13 West Coast,2,2 Medium-Urban,268672,2551.627090,5.271957,100
210,California,Modoc,6049,11,11 Mountain West,3,3 Rural/Semi-Rural,8795,123.120778,0.254382,100
211,California,Mono,6051,11,11 Mountain West,3,3 Rural/Semi-Rural,13981,70.753647,0.146185,100
212,California,Monterey,6053,13,13 West Coast,1,1 Urban,435232,6408.845653,13.241417,100
213,California,Napa,6055,14,14 Northwest,2,2 Medium-Urban,142166,4278.643469,8.840172,100
214,California,Nevada,6057,11,11 Mountain West,3,3 Rural/Semi-Rural,99107,537.594206,1.110732,100
215,California,Orange,6059,13,13 West Coast,1,1 Urban,3172532,8918.094225,18.425815,100
216,California,Placer,6061,11,11 Mountain West,2,2 Medium-Urban,380531,2627.712456,5.429158,100
217,California,Plumas,6063,11,11 Mountain West,3,3 Rural/Semi-Rural,18627,34.814329,0.071930,100
218,California,Riverside,6065,13,13 West Coast,1,1 Urban,2387741,4180.521723,8.637442,100
219,California,Sacramento,6067,11,11 Mountain West,1,1 Urban,1514460,5697.163410,11.770999,100
220,California,San Benito,6069,13,13 West Coast,2,2 Medium-Urban,59414,3497.373918,7.225979,100
221,California,San Bernardino,6071,13,13 West Coast,1,1 Urban,2140096,4762.113956,9.839078,100
222,California,San Diego,6073,13,13 West Coast,1,1 Urban,3317749,7308.020788,15.099217,100
223,California,San Francisco,6075,14,14 Northwest,1,1 Urban,870887,30508.122047,63.033310,100
224,California,San Joaquin,6077,13,13 West Coast,1,1 Urban,733709,5020.773912,10.373500,100
225,California,San Luis Obispo,6079,13,13 West Coast,2,2 Medium-Urban,282887,2241.259856,4.630702,100
226,California,San Mateo,6081,14,14 Northwest,1,1 Urban,764797,9540.881953,19.712566,100
227,California,Santa Barbara,6083,13,13 West Coast,1,1 Urban,446170,6660.903591,13.762198,100
228,California,Santa Clara,6085,14,14 Northwest,1,1 Urban,1919402,9198.375219,19.004907,100
229,California,Santa Cruz,6087,14,14 Northwest,1,1 Urban,274673,4719.981305,9.752027,100
230,California,Shasta,6089,11,11 Mountain West,3,3 Rural/Semi-Rural,179631,1347.834939,2.784783,100
231,California,Sierra,6091,11,11 Mountain West,3,3 Rural/Semi-Rural,2947,3.075009,0.006353,100
232,California,Siskiyou,6093,11,11 Mountain West,3,3 Rural/Semi-Rural,43603,172.784874,0.356994,100
233,California,Solano,6095,14,14 Northwest,1,1 Urban,440207,4610.678154,9.526195,100
234,California,Sonoma,6097,14,14 Northwest,2,2 Medium-Urban,503070,3286.244723,6.789762,100
235,California,Stanislaus,6099,13,13 West Coast,1,1 Urban,541560,4464.708609,9.224605,100
236,California,Sutter,6101,11,11 Mountain West,3,3 Rural/Semi-Rural,96651,2516.767792,5.199933,100
237,California,Tehama,6103,11,11 Mountain West,3,3 Rural/Semi-Rural,63276,448.762884,0.927196,100
238,California,Trinity,6105,14,14 Northwest,3,3 Rural/Semi-Rural,12782,6.096141,0.012595,100
239,California,Tulare,6107,13,13 West Coast,2,2 Medium-Urban,460437,2856.765816,5.902409,100
240,California,Tuolumne,6109,11,11 Mountain West,3,3 Rural/Semi-Rural,53804,629.560440,1.300745,100
241,California,Ventura,6111,13,13 West Coast,1,1 Urban,849738,5667.890570,11.710518,100
242,California,Yolo,6113,11,11 Mountain West,1,1 Urban,215802,4613.933952,9.532921,100
243,California,Yuba,6115,11,11 Mountain West,3,3 Rural/Semi-Rural,75275,1822.255182,3.764990,100

In [72]:
df.isnull().sum()

common_name             0
observ_count            0
country                 0
state                   0
county                217
lat                     0
lon                     0
observ_date             0
observ_year             0
observ_month            0
season                  0
CountyState           217
State               12232
CountyName          12232
CountyFIPS          12232
Region              12232
RegionName          12232
DensityCat          12232
DensityCatName      12232
Population2016      12232
Density2016_SqMi    12232
Density2016_PFbF    12232
DensityAggreg       12232
bird_rarity             0
dtype: int64

In [74]:
df.merge(regions, left_on='county', right_on='CountyName').isnull().sum()

common_name               0
observ_count              0
country                   0
state                     0
county                    0
lat                       0
lon                       0
observ_date               0
observ_year               0
observ_month              0
season                    0
CountyState               0
State_x               11682
CountyName_x          11682
CountyFIPS_x          11682
Region_x              11682
RegionName_x          11682
DensityCat_x          11682
DensityCatName_x      11682
Population2016_x      11682
Density2016_SqMi_x    11682
Density2016_PFbF_x    11682
DensityAggreg_x       11682
bird_rarity               0
State_y                   0
CountyName_y              0
CountyFIPS_y              0
Region_y                  0
RegionName_y              0
DensityCat_y              0
DensityCatName_y          0
Population2016_y          0
Density2016_SqMi_y        0
Density2016_PFbF_y        0
DensityAggreg_y           0
dtype: int64

In [ ]:
birds = pd.read_