In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\labelled_bird_sample.csv")

print(df.shape)

df.head()

(104613, 17)

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,bird_rarity,region_rarity,seas_reg_rare
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Uncommon
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Common
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common

In [3]:
df.seas_reg_rare.value_counts(normalize=True)

Common      0.649260
Uncommon    0.339451
Rare        0.011289
Name: seas_reg_rare, dtype: float64

**Majority Class Baseline**

65% accuracy

In [5]:
train, test = train_test_split(df, test_size=0.2, stratify=df['seas_reg_rare'])

train.shape, test.shape

((83690, 17), (20923, 17))

In [8]:
features = ['name', 'season', 'RegionName']
target = 'seas_reg_rare'

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

assert(len(X_train) == len(y_train))
assert(len(X_test) == len(y_test))

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OrdinalEncoder

In [11]:
encoder = OrdinalEncoder()

X_train_encoded = encoder.fit_transform(X_train)
X_test_encoded = encoder.transform(X_test)

ValueError: Found unknown categories ["Nelson's/Saltmarsh Sparrow (Sharp-tailed Sparrow)"] in column 0 during transform

In [17]:
df.query("""name == 'Nelson"s/Saltmarsh Sparrow (Sharp-tailed Sparrow)'""")

Empty DataFrame
Columns: [name, observ_count, country, state, county, latitude, longitude, observ_date, month, season, county_state, State, CountyName, RegionName, bird_rarity, region_rarity, seas_reg_rare]
Index: []

In [20]:
X_test.query('name == "Nelson's/Saltmarsh Sparrow (Sharp-tailed Sparrow)"')

SyntaxError: invalid syntax (<ipython-input-20-15c3595429eb>, line 1)