In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\birds_and_regions.csv")

print(df.shape)

df.head()

(106158, 23)

,common_name,observ_count,country,state,county,lat,lon,observ_date,observ_year,observ_month,...,CountyName,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,1995,8,...,Cook,17031.0,8.0,Great Lakes,1.0,1 Urban,5203499.0,13472.458286,27.835658,100.0
1,Greater Yellowlegs,1,United States,Texas,Aransas,28.240392,-96.818819,1986-04-06,1986,4,...,Aransas,48007.0,3.0,Gulf Coast,3.0,3 Rural/Semi-Rural,25721.0,775.490975,1.602254,100.0
2,White-crowned Sparrow,1,United States,Arizona,Cochise,31.898164,-109.115932,1998-11-27,1998,11,...,Cochise,4003.0,12.0,Southwest,3.0,3 Rural/Semi-Rural,125770.0,896.841429,1.852978,100.0
3,Green-winged Teal,11,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,Ada,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0
4,Yellow-rumped Warbler,5,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,Ada,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0

In [5]:
df.columns

Index(['common_name', 'observ_count', 'country', 'state', 'county', 'lat',
       'lon', 'observ_date', 'observ_year', 'observ_month', 'season',
       'CountyState', 'State', 'CountyName', 'CountyFIPS', 'Region',
       'RegionName', 'DensityCat', 'DensityCatName', 'Population2016',
       'Density2016_SqMi', 'Density2016_PFbF', 'DensityAggreg'],
      dtype='object')

In [6]:
df.CountyState.value_counts()

Fairfield, Connecticut     2012
Essex, Massachusetts       1894
Cook, Illinois             1322
Los Angeles, California    1310
Baltimore, Maryland        1172
                           ...
Warrick, Indiana              1
Yates, New York               1
Jefferson, Ohio               1
Clinton, Ohio                 1
Jefferson, Nebraska           1
Name: CountyState, Length: 2245, dtype: int64

In [8]:
df.RegionName.value_counts()

Mid-Atlantic North    10834
Northeast             10324
Great Lakes            9016
Mountain West          8670
Appohzarka             8476
Deep South             8135
Heartland              6814
Northwest              6197
Southwest              6162
Mid-Atlantic South     4538
Great Plains           4396
West Coast             4183
Gulf Coast             3618
Southern Florida       2563
Name: RegionName, dtype: int64

In [10]:
counts = df.common_name.value_counts(normalize=True)

In [13]:
len(counts)

917

In [16]:
counts[counts > 0.00001]

Mourning Dove           0.015967
American Robin          0.014836
American Crow           0.014629
European Starling       0.013621
Song Sparrow            0.013555
                          ...
Masked Booby            0.000019
Rose-ringed Parakeet    0.000019
Yellow Rail             0.000019
Maui Alauahio           0.000019
Common Ringed Plover    0.000019
Name: common_name, Length: 799, dtype: float64

In [21]:
print("# of birds that appear more than 1% of the time:", len(counts[counts > 0.01]))
print("# of birds that appear more than .1% of the time:", len(counts[counts > 0.001]))
print("# of birds that appear more than .01% of the time:", len(counts[counts > 0.0001]))
print("# of birds that appear more than .001% of the time:", len(counts[counts > 0.00001]))
print("# of birds that appear more than .0001% of the time:", len(counts[counts > 0.000001]))

# of birds that appear more than 1% of the time: 13
# of birds that appear more than .1% of the time: 250
# of birds that appear more than .01% of the time: 560
# of birds that appear more than .001% of the time: 799
# of birds that appear more than .0001% of the time: 917

In [23]:
counts['Mourning Dove']

0.01596676651783191

In [24]:
def rare_bird(x):
    bird_percent = counts[x]
    if bird_percent > 0.001:
        return "Common"
    elif bird_percent > 0.00001:
        return "Uncommon"
    else:
        return "Rare"

In [25]:
df['bird_rarity'] = df['common_name'].apply(rare_bird)

In [26]:
df.head()

,common_name,observ_count,country,state,county,lat,lon,observ_date,observ_year,observ_month,...,CountyFIPS,Region,RegionName,DensityCat,DensityCatName,Population2016,Density2016_SqMi,Density2016_PFbF,DensityAggreg,bird_rarity
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,1995,8,...,17031.0,8.0,Great Lakes,1.0,1 Urban,5203499.0,13472.458286,27.835658,100.0,Common
1,Greater Yellowlegs,1,United States,Texas,Aransas,28.240392,-96.818819,1986-04-06,1986,4,...,48007.0,3.0,Gulf Coast,3.0,3 Rural/Semi-Rural,25721.0,775.490975,1.602254,100.0,Common
2,White-crowned Sparrow,1,United States,Arizona,Cochise,31.898164,-109.115932,1998-11-27,1998,11,...,4003.0,12.0,Southwest,3.0,3 Rural/Semi-Rural,125770.0,896.841429,1.852978,100.0,Common
3,Green-winged Teal,11,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0,Common
4,Yellow-rumped Warbler,5,United States,Idaho,Ada,43.609793,-116.206427,1982-12-18,1982,12,...,16001.0,11.0,Mountain West,2.0,2 Medium-Urban,444028.0,2880.874407,5.952220,100.0,Common

In [28]:
df.bird_rarity.value_counts(normalize=True)

Common      0.863129
Uncommon    0.135760
Rare        0.001112
Name: bird_rarity, dtype: float64