In [21]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [22]:
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\labelled_bird_sample.csv")

print(df.shape)

df.head()

(103992, 15)

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,seas_reg_rare
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Uncommon
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common

In [29]:
df['target'] = df['seas_reg_rare'].map({"Common": 0,
                                        "Uncommon": 1,
                                        "Rare": 2})

df.head()

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,seas_reg_rare,target
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Uncommon,1
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0

In [31]:
df.target.value_counts(normalize=True)

0    0.654406
1    0.304495
2    0.041099
Name: target, dtype: float64

In [23]:
import category_encoders as ce

In [24]:
train, test = train_test_split(df, test_size=0.2, stratify=df['seas_reg_rare'])

train.shape, test.shape

((83193, 15), (20799, 15))

In [33]:
features = ['name', 'season', 'RegionName', 'latitude', 'longitude']
target = 'target'

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

X_train.shape, y_train.shape, X_test.shape, y_test.shape

KeyError: 'target'

## Hashing Encoder

In [62]:
features = ['name', 'season', 'RegionName', 'latitude', 'longitude']
target = 'target'

X = df[features]
y = df[target]

encoder = ce.HashingEncoder()

X = encoder.fit_transform(X)

X

                       name  season   RegionName   latitude  longitude
0          Magnolia Warbler  Summer  Great Lakes  41.775629 -87.583273
1          Great Blue Heron  Summer  Great Lakes  41.956746 -87.913027
2             Purple Martin  Summer  Great Lakes  41.707907 -87.886848
3       Common Yellowthroat  Summer  Great Lakes  41.707907 -87.886848
4            Eastern Towhee  Summer  Great Lakes  41.707907 -87.886848
...                     ...     ...          ...        ...        ...
103987            Inca Dove  Summer   Appohzarka  34.426782 -97.149598
103988       Eastern Phoebe  Spring   Appohzarka  34.426782 -97.149598
103989           Wood Stork  Spring   Deep South  31.667925 -81.845470
103990       Eastern Towhee  Spring   Appohzarka  35.116398 -87.208443
103991        American Crow  Spring   Deep South  32.647283 -88.495162

[103992 rows x 5 columns]

In [ ]:
encoder.fit_transform(X)

## Target Encoding

In [34]:
encoder = ce.TargetEncoder()

features = ['name', 'season', 'RegionName', 'latitude', 'longitude']
target = 'target'

X = df[features]
y = df[target]


X = encoder.fit_transform(X, y)

In [35]:
X

            name    season  RegionName   latitude  longitude
0       0.717277  0.382578    0.351550  41.775629 -87.583273
1       0.007663  0.382578    0.351550  41.956746 -87.913027
2       0.502128  0.382578    0.351550  41.707907 -87.886848
3       0.105183  0.382578    0.351550  41.707907 -87.886848
4       0.053305  0.382578    0.351550  41.707907 -87.886848
...          ...       ...         ...        ...        ...
103987  0.685714  0.382578    0.333846  34.426782 -97.149598
103988  0.166667  0.425927    0.333846  34.426782 -97.149598
103989  0.674419  0.425927    0.371935  31.667925 -81.845470
103990  0.053305  0.425927    0.333846  35.116398 -87.208443
103991  0.021039  0.425927    0.371935  32.647283 -88.495162

[103992 rows x 5 columns]

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((83193, 5), (20799, 5), (83193,), (20799,))

In [40]:
forest = RandomForestClassifier()

forest.fit(X_train, y_train)

forest.score(X_test, y_test)

0.9101399105726237

In [44]:
preds = forest.predict(X_test)

pred_df = pd.DataFrame({"bird": X_test['name'],
              "season": X_test['season'],
              "region": X_test['RegionName'],
              "true_label": y_test,
              "pred_label": preds})

In [46]:
pred_df.pred_label.value_counts()

0    14334
1     6102
2      363
Name: pred_label, dtype: int64

In [47]:
y_test.value_counts()

0    13723
1     6186
2      890
Name: target, dtype: int64

In [48]:
dir(encoder)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_dim',
 '_get_param_names',
 '_get_tags',
 '_mean',
 '_more_tags',
 'cols',
 'drop_cols',
 'drop_invariant',
 'feature_names',
 'fit',
 'fit_target_encoding',
 'fit_transform',
 'get_feature_names',
 'get_params',
 'handle_missing',
 'handle_unknown',
 'mapping',
 'min_samples_leaf',
 'ordinal_encoder',
 'return_df',
 'set_params',
 'smoothing',
 'target_encode',
 'transform',
 'verbose']

In [61]:
encoder.fit_target_encoding()

TypeError: fit_target_encoding() missing 2 required positional arguments: 'X' and 'y'

In [55]:
encoder.mapping

{'name': name
  1      0.717277
  2      0.007663
  3      0.502128
  4      0.105183
  5      0.053305
           ...
  788    0.386693
  789    0.386693
  790    0.386693
 -1      0.386693
 -2      0.386693
 Length: 792, dtype: float64,
 'season': season
  1    0.382578
  2    0.425927
  3    0.400542
  4    0.284406
 -1    0.386693
 -2    0.386693
 dtype: float64,
 'RegionName': RegionName
  1     0.351550
  2     0.404454
  3     0.525745
  4     0.515620
  5     0.314624
  6     0.231455
  7     0.371935
  8     0.333846
  9     0.336313
  10    0.364355
  11    0.394645
  12    0.466930
  13    0.364209
  14    0.337215
 -1     0.386693
 -2     0.386693
 dtype: float64}

In [6]:
from sklearn.cluster import KMeans

In [12]:
encoder = ce.OrdinalEncoder()

cat_data = encoder.fit_transform(df[['name', 'season', 'RegionName']])
num_data = df[['latitude', 'longitude']].values

# data = cat_data.values + num_data
# data

ValueError: operands could not be broadcast together with shapes (103992,3) (103992,2)

In [14]:
kmeans = KMeans(n_clusters=3)

groups = kmeans.fit_predict(cat_data)

In [15]:
df['pred_groups'] = groups

df.head()

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,seas_reg_rare,pred_groups
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Uncommon,0
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,0

In [17]:
df.pred_groups.value_counts(normalize=True)

0    0.539378
2    0.315149
1    0.145473
Name: pred_groups, dtype: float64

In [18]:
from sklearn.metrics import confusion_matrix

In [20]:
confusion_matrix(df['seas_reg_rare'].map({"Common": 0,
                                          "Uncommon": 1,
                                          "Rare": 2}), df['pred_groups'])

array([[43422,  5594, 19037],
       [11674,  7587, 12404],
       [  995,  1947,  1332]], dtype=int64)

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
encoder = OneHotEncoder()

X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

ValueError: Found unknown categories ['Antillean Nighthawk', 'Kalij Pheasant', 'Great Skua', 'Corn Crake', 'Little Curlew', 'Kauai Elepaio', 'Masked Duck', 'Passenger Pigeon', "Bulwer's Petrel"] in column 0 during transform

### Hashing Encoder

- breaking away from this cuz its not working

In [7]:
encoder = ce.HashingEncoder()

X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [8]:
X_train

,name,season,RegionName,latitude,longitude
68458,Red-necked Phalarope,Fall,Heartland,45.177800,-93.501600
51708,House Finch,Spring,Mountain West,36.030221,-112.851305
43560,House Finch,Spring,Heartland,43.045578,-89.466100
22842,Mourning Dove,Winter,West Coast,32.759226,-117.221841
59836,Common Raven,Summer,Northwest,39.227499,-123.764377
...,...,...,...,...,...
103260,Northern Rough-winged Swallow,Summer,Appohzarka,34.724472,-92.761774
62751,Turkey Vulture,Spring,Southern Florida,26.949311,-81.030693
3344,Mallard,Spring,Mid-Atlantic North,39.397850,-76.986394
86682,Red-eyed Vireo,Spring,Northeast,42.368437,-74.439239
87821,Black-and-white Warbler,Summer,Mid-Atlantic North,39.582341,-75.899734

In [14]:
forest = RandomForestClassifier()

forest.fit(X_train, y_train)
forest.score(X_test, y_test)

ValueError: could not convert string to float: 'Northern Harrier'