In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read in labelled sample 
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\labelled_bird_sample.csv")

print(df.shape)

df.head()

(104732, 17)

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,bird_rarity,region_rarity,seas_reg_rare
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Uncommon
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Uncommon
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Uncommon

In [3]:
# Multi-Class Classification 
# Check our baseline - pick the most common class for everything


df.seas_reg_rare.value_counts(normalize=True)

Uncommon    0.615371
Common      0.339782
Rare        0.044848
Name: seas_reg_rare, dtype: float64

**Baseline** 

Choosing 'Uncommon' would land 61.5% accuracy.

In [ ]:
# Baseline Confusion Matrix
from sklearn.metrics import confusion_matrix