In [32]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OrdinalEncoder

In [33]:
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\labelled_bird_sample.csv")

print(df.shape)

df.head()

(103992, 15)

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,seas_reg_rare
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Uncommon
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common

In [35]:
df.seas_reg_rare.value_counts(normalize=True)

Common      0.654406
Uncommon    0.304495
Rare        0.041099
Name: seas_reg_rare, dtype: float64

**Majority Class Baseline**

65% accuracy

In [68]:
import category_encoders as ce

ModuleNotFoundError: No module named 'category_encoders'

In [43]:
data = df[['name', 'season', 'RegionName', 'seas_reg_rare']]

data.shape

(103992, 4)

In [44]:
encoder = OrdinalEncoder()

data_encoded = encoder.fit_transform(data)

data_encoded.shape

(103992, 4)

In [51]:
train, test = train_test_split(data_encoded, test_size=0.2)

train.shape, test.shape

((83193, 4), (20799, 4))

In [58]:
X_train = train[:, :-1]
y_train = train[:, -1]
X_test = test[:, :-1]
y_test = test[:, -1]

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((83193, 3), (83193,), (20799, 3), (20799,))

In [62]:
model = LogisticRegression(solver='lbfgs', multi_class='auto', max_iter=500)

model.fit(X_train, y_train)

preds = model.predict(X_test)

print("Accuracy of simple model: ", model.score(X_test, y_test))

Accuracy of simple model:  0.6549834126640703

In [66]:
test = pd.DataFrame({"name": X_test[:, 0],
                     "season": X_test[:, 1],
                     "region": X_test[:, 2],
                     "true_label": y_test,
                     "pred_label": preds})

test

        name  season  region  true_label  pred_label
0      108.0     3.0     5.0         0.0         0.0
1      224.0     0.0    13.0         0.0         0.0
2      211.0     1.0     8.0         2.0         0.0
3      182.0     1.0     6.0         2.0         0.0
4       16.0     2.0     5.0         0.0         0.0
...      ...     ...     ...         ...         ...
20794  586.0     2.0     1.0         2.0         0.0
20795   16.0     0.0     1.0         2.0         0.0
20796  361.0     1.0     9.0         0.0         0.0
20797   25.0     3.0     8.0         0.0         0.0
20798  342.0     0.0     6.0         0.0         0.0

[20799 rows x 5 columns]

In [67]:
test.pred_label.value_counts()

0.0    20799
Name: pred_label, dtype: int64

### Logistic Regression Results

- Logistic regression score 65%, fairing very poorly as that doesn't beat the baseline

ValueError: Found unknown categories ["Nelson's/Saltmarsh Sparrow (Sharp-tailed Sparrow)"] in column 0 during transform

In [17]:
df.query("""name == 'Nelson"s/Saltmarsh Sparrow (Sharp-tailed Sparrow)'""")

Empty DataFrame
Columns: [name, observ_count, country, state, county, latitude, longitude, observ_date, month, season, county_state, State, CountyName, RegionName, bird_rarity, region_rarity, seas_reg_rare]
Index: []

In [20]:
X_test.query('name == "Nelson's/Saltmarsh Sparrow (Sharp-tailed Sparrow)"')

SyntaxError: invalid syntax (<ipython-input-20-15c3595429eb>, line 1)