In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\labelled_bird_sample.csv")

print(df.shape)

df.head()

(103992, 15)

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,seas_reg_rare
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Uncommon
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common

In [3]:
import category_encoders as ce

In [5]:
train, test = train_test_split(df, test_size=0.2, stratify=df['seas_reg_rare'])

train.shape, test.shape

((83193, 15), (20799, 15))

In [6]:
features = ['name', 'season', 'RegionName', 'latitude', 'longitude']
target = 'seas_reg_rare'

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((83193, 5), (83193,), (20799, 5), (20799,))

In [21]:
from sklearn.preprocessing import OneHotEncoder

### Hashing Encoder

- breaking away from this cuz its not working

In [20]:
X_train = ce.HashingEncoder.fit(X_train).transform(X_train)
X_test = ce.HashingEncoder.transform(X_test)

TypeError: fit() missing 1 required positional argument: 'X'

In [13]:
X_train

,name,season,RegionName,latitude,longitude
30741,Northern Harrier,Fall,Gulf Coast,29.387298,-94.727844
17187,Cactus Wren,Spring,Southwest,31.953907,-112.799636
63118,Warbling Vireo,Summer,Mountain West,40.531611,-121.566382
58023,Sharp-shinned Hawk,Fall,Appohzarka,37.414296,-80.519338
74635,Barrow's Goldeneye,Spring,Northwest,58.349596,-134.571447
...,...,...,...,...,...
103565,Brown Creeper,Spring,Deep South,34.664488,-89.462442
88358,Gray Kingbird,Summer,Gulf Coast,30.248511,-88.186333
92623,Red-breasted Nuthatch,Fall,Great Lakes,45.744946,-84.899468
40738,European Starling,Summer,Mid-Atlantic North,39.744385,-76.990170
68746,White-breasted Nuthatch,Summer,Appohzarka,40.101710,-77.092695

In [14]:
forest = RandomForestClassifier()

forest.fit(X_train, y_train)
forest.score(X_test, y_test)

ValueError: could not convert string to float: 'Northern Harrier'