In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("C:\\Users\\ajaco\\Desktop\\repos\\noreallyimfine\\ebird-project\\labelled_bird_sample.csv")

print(df.shape)

df.head()

(104613, 17)

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,bird_rarity,region_rarity,seas_reg_rare
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Uncommon
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Common
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,CookIllinois,Illinois,Cook,Great Lakes,Common,Common,Common

In [24]:
counts = df.name.value_counts()

counts[counts < 5].index

Index(['loon sp.', 'Dusky Grouse', 'Ruddy Ground Dove', 'White-crowned Pigeon',
       'White-tipped Dove', 'wren sp.', 'Boreal Owl',
       'Pacific-slope/Cordilleran Flycatcher (Western Flycatcher)',
       'Black Rosy-Finch', 'scoter sp.',
       ...
       'Gray Vireo', 'Nanday Parakeet', 'Dovekie', 'falcon sp.', 'White Tern',
       'thrush sp.', 'Rufous-backed Robin',
       'Scripps's/Guadalupe Murrelet (Xantus's Murrelet)', 'Catharus sp.',
       'Spot-breasted Oriole'],
      dtype='object', length=127)

In [28]:
counts[counts > 100].index.tolist()

['Mourning Dove',
 'American Robin',
 'American Crow',
 'European Starling',
 'Song Sparrow',
 'Red-winged Blackbird',
 'Northern Cardinal',
 'Blue Jay',
 'Mallard',
 'Killdeer',
 'Northern Flicker',
 'American Goldfinch',
 'Downy Woodpecker',
 'Great Blue Heron',
 'House Sparrow',
 'Red-tailed Hawk',
 'Dark-eyed Junco',
 'Common Grackle',
 'House Finch',
 'Yellow-rumped Warbler',
 'Black-capped Chickadee',
 'Turkey Vulture',
 'Northern Mockingbird',
 'Canada Goose',
 'American Kestrel',
 'Ring-billed Gull',
 'Barn Swallow',
 'Brown-headed Cowbird',
 'Tufted Titmouse',
 'White-breasted Nuthatch',
 'Belted Kingfisher',
 'Rock Pigeon',
 'Double-crested Cormorant',
 'Common Yellowthroat',
 'Red-bellied Woodpecker',
 'Gray Catbird',
 'White-throated Sparrow',
 'American Coot',
 'Tree Swallow',
 'Ruby-crowned Kinglet',
 'House Wren',
 'Pied-billed Grebe',
 'Cedar Waxwing',
 'Chipping Sparrow',
 'Herring Gull',
 'Carolina Chickadee',
 'Great Egret',
 'Greater Yellowlegs',
 'Carolina Wren',
 'Eastern Bluebird',
 'Hairy Woodpecker',
 'Northern Harrier',
 'Spotted Sandpiper',
 'Least Sandpiper',
 'Eastern Phoebe',
 'Eastern Meadowlark',
 'Eastern Towhee',
 'Yellow Warbler',
 'White-crowned Sparrow',
 'Brown Thrasher',
 'Lesser Yellowlegs',
 'Chimney Swift',
 'Common Raven',
 'Blue-gray Gnatcatcher',
 'Indigo Bunting',
 'Red-eyed Vireo',
 'Field Sparrow',
 'Savannah Sparrow',
 'Wood Duck',
 'Osprey',
 'Black-bellied Plover',
 'Green-winged Teal',
 'Snowy Egret',
 'Bufflehead',
 'Eastern Kingbird',
 'Hermit Thrush',
 'Golden-crowned Kinglet',
 'American Wigeon',
 'Loggerhead Shrike',
 'Blue-winged Teal',
 'Green Heron',
 'Baltimore Oriole',
 'Pileated Woodpecker',
 'Ruddy Duck',
 'American Redstart',
 'Brown Creeper',
 'Purple Finch',
 'Northern Shoveler',
 'Semipalmated Plover',
 'Eastern Wood-Pewee',
 'American Black Duck',
 'Willet',
 'Gadwall',
 'Black-and-white Warbler',
 'Western Meadowlark',
 'Horned Lark',
 "Brewer's Blackbird",
 'Lesser Scaup',
 'Great Crested Flycatcher',
 'Red-shouldered Hawk',
 'Common Loon',
 'Swamp Sparrow',
 'Warbling Vireo',
 'Northern Pintail',
 'Spotted Towhee',
 'Semipalmated Sandpiper',
 'Sanderling',
 'Red-breasted Nuthatch',
 'Wood Thrush',
 "Forster's Tern",
 'Sharp-shinned Hawk',
 'Dunlin',
 'Orange-crowned Warbler',
 'Northern Rough-winged Swallow',
 "Wilson's Warbler",
 "Wilson's Snipe",
 'Ruby-throated Hummingbird',
 'Ring-necked Duck',
 'Laughing Gull',
 'Ovenbird',
 'Black-crowned Night-Heron',
 'Pine Siskin',
 'Common Merganser',
 'Western Sandpiper',
 'Common Goldeneye',
 "Bewick's Wren",
 'Cliff Swallow',
 'Bald Eagle',
 'Red-breasted Merganser',
 'Ring-necked Pheasant',
 'Pectoral Sandpiper',
 'Scarlet Tanager',
 'Purple Martin',
 "Cooper's Hawk",
 'American Tree Sparrow',
 'Short-billed Dowitcher',
 'Yellow-billed Cuckoo',
 'White-eyed Vireo',
 'Ruddy Turnstone',
 'Black-throated Green Warbler',
 'Black Phoebe',
 "Swainson's Thrush",
 'Rose-breasted Grosbeak',
 "Bonaparte's Gull",
 'Hooded Merganser',
 "Steller's Jay",
 'Fish Crow',
 'Cattle Egret',
 'Fox Sparrow',
 'Nashville Warbler',
 'Little Blue Heron',
 'Northern Parula',
 'Western Kingbird',
 'Northern Bobwhite',
 "Lincoln's Sparrow",
 'Palm Warbler',
 'American Avocet',
 'Magnolia Warbler',
 'Great Black-backed Gull',
 'Black Vulture',
 'American White Pelican',
 'Brown Pelican',
 'Marsh Wren',
 'Pine Warbler',
 'Red-headed Woodpecker',
 'California Scrub-Jay',
 'Black-necked Stilt',
 "Anna's Hummingbird",
 'Common Nighthawk',
 'Violet-green Swallow',
 'Yellow-bellied Sapsucker',
 'Lesser Goldfinch',
 'Redhead',
 'Bushtit',
 'Black-billed Magpie',
 'Solitary Sandpiper',
 'Horned Grebe',
 'Chestnut-sided Warbler',
 'American Pipit',
 'Black-headed Grosbeak',
 'Great Horned Owl',
 'Caspian Tern',
 'Common Tern',
 'California Gull',
 'Common Gallinule',
 'Western Grebe',
 'Veery',
 'Eared Grebe',
 'Long-billed Dowitcher',
 'Summer Tanager',
 'Evening Grosbeak',
 'Snow Goose',
 'Surf Scoter',
 'Western Wood-Pewee',
 'Western Tanager',
 'Cinnamon Teal',
 'Bank Swallow',
 'Greater Scaup',
 "Say's Phoebe",
 'Tennessee Warbler',
 'Blue-headed Vireo',
 'Tricolored Heron',
 'Yellow-throated Vireo',
 'Lark Sparrow',
 'Great-tailed Grackle',
 'Mountain Chickadee',
 'Canvasback',
 'Vesper Sparrow',
 'Northern Waterthrush',
 'California Quail',
 'Prairie Warbler',
 'Black-throated Blue Warbler',
 'California Towhee',
 'Sandhill Crane',
 'Whimbrel',
 'Blackburnian Warbler',
 "Wilson's Phalarope",
 'Marbled Godwit',
 "Bullock's Oriole",
 'Glaucous-winged Gull',
 'Western Bluebird',
 'Winter Wren',
 'Broad-winged Hawk',
 'Barred Owl',
 'Chestnut-backed Chickadee',
 'Bobolink',
 'Least Flycatcher',
 'Willow Flycatcher',
 'Blackpoll Warbler',
 'Western Gull',
 'Yellow-breasted Chat',
 'Boat-tailed Grackle',
 'Blue Grosbeak',
 'Acorn Woodpecker',
 'Merlin',
 'Long-billed Curlew',
 'Yellow-headed Blackbird',
 'Golden-crowned Sparrow',
 'Orchard Oriole',
 'Stilt Sandpiper',
 'Blue-winged Warbler',
 'Grasshopper Sparrow',
 'Ash-throated Flycatcher',
 'Piping Plover',
 'Scissor-tailed Flycatcher',
 'White-winged Scoter',
 'Hooded Warbler',
 'Wild Turkey',
 'White Ibis',
 'peep sp.',
 'Red Knot',
 'American Oystercatcher',
 'Peregrine Falcon',
 'Red-throated Loon',
 'Sora']

In [31]:
df[df['name'].str.contains('Sandpiper')]

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,RegionName,bird_rarity,region_rarity,seas_reg_rare
85,Semipalmated Sandpiper,1,United States,Illinois,Cook,41.707907,-87.886848,1953-09-20,9,Fall,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Uncommon
115,Pectoral Sandpiper,1,United States,Illinois,Cook,41.850030,-87.650050,1970-09-26,9,Fall,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Common
211,Pectoral Sandpiper,1,United States,Illinois,Cook,41.850030,-87.650050,1964-09-27,9,Fall,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Common
339,Stilt Sandpiper,2,United States,Illinois,Cook,41.665731,-87.530136,1946-09-07,9,Fall,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Uncommon
677,Solitary Sandpiper,1,United States,Illinois,Cook,42.041680,-88.004690,1975-05-07,5,Spring,CookIllinois,Illinois,Cook,Great Lakes,Common,Uncommon,Uncommon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104480,Spotted Sandpiper,3,United States,Colorado,Hinsdale,38.037411,-107.312983,1999-07-19,7,Summer,HinsdaleColorado,Colorado,Hinsdale,Mountain West,Common,Common,Common
104518,Solitary Sandpiper,1,United States,Ohio,Marion,40.568703,-83.274136,1999-07-18,7,Summer,MarionOhio,Ohio,Marion,Heartland,Common,Uncommon,Uncommon
104527,Spotted Sandpiper,1,United States,Ohio,Marion,40.568703,-83.274136,1988-04-23,4,Spring,MarionOhio,Ohio,Marion,Heartland,Common,Uncommon,Uncommon
104567,Upland Sandpiper,1,United States,South Dakota,Stanley,44.199627,-100.318831,1999-07-06,7,Summer,StanleySouth Dakota,South Dakota,Stanley,Great Plains,Uncommon,Uncommon,Common
104591,Spotted Sandpiper,4,United States,South Carolina,Sumter,33.861382,-80.375333,1976-08-05,8,Summer,SumterSouth Carolina,South Carolina,Sumter,Deep South,Common,Uncommon,Common

In [3]:
df.seas_reg_rare.value_counts(normalize=True)

Common      0.649260
Uncommon    0.339451
Rare        0.011289
Name: seas_reg_rare, dtype: float64

**Majority Class Baseline**

65% accuracy

In [5]:
train, test = train_test_split(df, test_size=0.2, stratify=df['seas_reg_rare'])

train.shape, test.shape

((83690, 17), (20923, 17))

In [8]:
features = ['name', 'season', 'RegionName']
target = 'seas_reg_rare'

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

assert(len(X_train) == len(y_train))
assert(len(X_test) == len(y_test))

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OrdinalEncoder

In [11]:
encoder = OrdinalEncoder()

X_train_encoded = encoder.fit_transform(X_train)
X_test_encoded = encoder.transform(X_test)

ValueError: Found unknown categories ["Nelson's/Saltmarsh Sparrow (Sharp-tailed Sparrow)"] in column 0 during transform

In [17]:
df.query("""name == 'Nelson"s/Saltmarsh Sparrow (Sharp-tailed Sparrow)'""")

Empty DataFrame
Columns: [name, observ_count, country, state, county, latitude, longitude, observ_date, month, season, county_state, State, CountyName, RegionName, bird_rarity, region_rarity, seas_reg_rare]
Index: []

In [20]:
X_test.query('name == "Nelson's/Saltmarsh Sparrow (Sharp-tailed Sparrow)"')

SyntaxError: invalid syntax (<ipython-input-20-15c3595429eb>, line 1)