In [16]:
import pandas as pd
from ebird import db
from ebird.models import Lookup

In [17]:
lookup = pd.read_csv("C:/Users/jayja/Desktop/lookup.csv")

lookup.head()

       region season                bird  pct_of_total
0  Appohzarka   Fall      Abert's Towhee      0.000000
1  Appohzarka   Fall  Acadian Flycatcher      0.000557
2  Appohzarka   Fall    Acorn Woodpecker      0.000000
3  Appohzarka   Fall  African Silverbill      0.000000
4  Appohzarka   Fall          Akiapolaau      0.000000

In [18]:
lookup['big_num'] = lookup['pct_of_total'] * 1000000

In [19]:
lookup.head()

       region season                bird  pct_of_total     big_num
0  Appohzarka   Fall      Abert's Towhee      0.000000    0.000000
1  Appohzarka   Fall  Acadian Flycatcher      0.000557  557.413601
2  Appohzarka   Fall    Acorn Woodpecker      0.000000    0.000000
3  Appohzarka   Fall  African Silverbill      0.000000    0.000000
4  Appohzarka   Fall          Akiapolaau      0.000000    0.000000

In [26]:
for idx, row in lookup.iterrows():
    region = row['region']
    season = row['season']
    bird = row['bird']
    pct_of_total = row['pct_of_total']
    look_in = Lookup(region=region, season=season, bird=bird, pct_of_total=pct_of_total)
    db.session.add(look_in)

db.session.commit()

In [29]:
for row in Lookup.query.all()[:25]:
    print(row.pct_of_total)

0.0000
0.0006
0.0000
0.0000
0.0000
0.0000
0.0000
0.0000
0.0000
0.0039
0.0011
0.0050
0.0072
0.0156
0.0000
0.0022
0.0134
0.0106
0.0000
0.0006
0.0033
0.0078
0.0000
0.0022
0.0061

In [25]:
Lookup.__table__

Table('lookup', MetaData(bind=None), Column('id', Integer(), table=<lookup>, primary_key=True, nullable=False), Column('region', String(length=20), table=<lookup>, nullable=False), Column('season', String(length=10), table=<lookup>, nullable=False), Column('bird', String(length=40), table=<lookup>, nullable=False), Column('pct_of_total', Numeric(precision=5, scale=4), table=<lookup>, nullable=False), schema=None)

In [20]:
Lookup.query.all()

[]

In [22]:
dir(Lookup.__table__)

['__and__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_annotate',
 '_annotations',
 '_autoincrement_column',
 '_autoload',
 '_clone',
 '_cloned_set',
 '_cols_populated',
 '_columns',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_deannotate',
 '_execute_on_connection',
 '_extra_dependencies',
 '_extra_kwargs',
 '_from_objects',
 '_hide_froms',
 '_init',
 '_init_collections',
 '_init_existing',
 '_init_items',
 '_is_clone_of',
 '_is_from_container',
 '_is_join',
 '_is_lateral',
 '_is_lexical_equivalent',
 '_is_select',
 '_kw_reg_for_dialect',
 '_kw_reg_for_dialect_cls',
 '_kw_registry',
 '_memoized_property',
 '_negate',
 '_order_by_label_element',
 '_params',
 '_populate_column_collection',
 '_prefixes',
 '_refresh_for_new_column',
 '_reset_exported',
 '_schema_item_copy',
 '_select_iterable',
 '_set_parent',
 '_set_parent_with_dispatch',
 '_sorted_constraints',
 '_textual',
 '_translate_schema',
 '_validate_dialect_kwargs',
 '_with_annotations',
 'add_is_dependent_on',
 'alias',
 'append_column',
 'append_constraint',
 'append_ddl_listener',
 'argument_for',
 'bind',
 'c',
 'columns',
 'comment',
 'compare',
 'compile',
 'constraints',
 'correspond_on_equivalents',
 'corresponding_column',
 'count',
 'create',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'exists',
 'foreign_key_constraints',
 'foreign_keys',
 'fullname',
 'get_children',
 'implicit_returning',
 'indexes',
 'info',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'metadata',
 'name',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'quote',
 'quote_schema',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'supports_execution',
 'tablesample',
 'tometadata',
 'unique_params',
 'update']

In [6]:
Lookup.__table__.update?

Signature:
Lookup.__table__.update(
    dml,
    whereclause=None,
    values=None,
    inline=False,
    **kwargs,
)
Docstring:
Generate an :func:`_expression.update` construct against this
:class:`_expression.TableClause`.

E.g.::

    table.update().where(table.c.id==7).values(name='foo')

See :func:`_expression.update` for argument and usage information.
File:      c:\users\jayja\anaconda3\envs\flask-kernel\lib\site-packages\sqlalchemy\sql\selectable.py
Type:      method

In [9]:
Lookup.__table__.delete()

In [10]:
db.session.commit()

In [11]:
Lookup.query.all()

[]