In [1]:
import joblib
import pandas as pd

In [7]:
birds = joblib.load("C:/Users/jayja/Desktop/repos/noreallyimfine/ebird-project/bird_app/utils/birds_list.joblib")

In [9]:
birds.sort()

In [37]:
states = joblib.load("utils/county_state.joblib")
counties_states = [state.split(',') for state in states]
counties_states = sorted(counties_states, key=lambda x: (x[1], x[0]))

In [41]:
cs_dict = {
    'county': [cs[0] for cs in counties_states],
    'state': [cs[1] for cs in counties_states]
}

pd.DataFrame(cs_dict).to_csv('county_state.csv', index=False)

In [42]:
pd.read_csv("county_state.csv")

          county    state
0        Autauga  Alabama
1        Baldwin  Alabama
2        Barbour  Alabama
3           Bibb  Alabama
4        Calhoun  Alabama
...          ...      ...
2215    Sublette  Wyoming
2216  Sweetwater  Wyoming
2217       Teton  Wyoming
2218    Washakie  Wyoming
2219      Weston  Wyoming

[2220 rows x 2 columns]

In [ ]:
counties_states = [state.split(',') for state in states]
counties

In [15]:
df = pd.read_csv("../data/labelled_bird_sample.csv")

In [16]:
df.head()

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,region,seas_reg_rare,target
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Uncommon,1
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0

In [22]:
counties = df[['county', 'state']].unique()
counties

AttributeError: 'DataFrame' object has no attribute 'unique'

In [19]:
states = pd.Series(sorted(df['state'].unique().tolist()))
states

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
dtype: object

In [20]:
states.to_csv("state.csv", index=False)

In [43]:
states

['Cook,Illinois',
 'Aransas,Texas',
 'Cochise,Arizona',
 'Ada,Idaho',
 'Jasper,Iowa',
 'Charlotte,Florida',
 'Monroe,Georgia',
 'Van Zandt,Texas',
 'Jasper,Indiana',
 'Sequoyah,Oklahoma',
 'Carroll,Maryland',
 'Hidalgo,New Mexico',
 'Pueblo,Colorado',
 'Ohio,Kentucky',
 'Sonoma,California',
 'Orange,California',
 'Allen,Indiana',
 'Lake,Ohio',
 'Sussex,New Jersey',
 'Shelby,Tennessee',
 'Ellis,Texas',
 'Chaves,New Mexico',
 'Rockingham,New Hampshire',
 'Collier,Florida',
 'Lake,Illinois',
 'Grand Forks,North Dakota',
 'Hampshire,Massachusetts',
 'Comanche,Oklahoma',
 'Glynn,Georgia',
 'Ventura,California',
 'Aleutians West,Alaska',
 'Bay,Michigan',
 'La Crosse,Wisconsin',
 'Allegheny,Pennsylvania',
 'Indiana,Pennsylvania',
 'Malheur,Oregon',
 'Will,Illinois',
 'Imperial,California',
 'Tarrant,Texas',
 'Volusia,Florida',
 'Botetourt,Virginia',
 'DuPage,Illinois',
 'Horry,South Carolina',
 'Chester,Pennsylvania',
 'Orange,Florida',
 'Snohomish,Washington',
 'Dorchester,Maryland',
 'Starr,Texas',
 'Sierra,California',
 'Rich,Utah',
 'Sutter,California',
 'Knox,Tennessee',
 'Humboldt,California',
 'Ottawa,Oklahoma',
 'Van Buren,Michigan',
 'Thurston,Washington',
 'Jones,Texas',
 'Erie,Ohio',
 'Polk,Minnesota',
 'Caroline,Maryland',
 'Washburn,Wisconsin',
 'Cameron,Louisiana',
 'Santa Cruz,California',
 'Washoe,Nevada',
 'Forrest,Mississippi',
 'Pierce,Washington',
 'Douglas,Oregon',
 'New Castle,Delaware',
 'Centre,Pennsylvania',
 'Middlesex,Connecticut',
 'Yakima,Washington',
 'Nevada,California',
 'Essex,Massachusetts',
 'Isabella,Michigan',
 'Whiteside,Illinois',
 'Jackson,Illinois',
 'Little River,Arkansas',
 'Riley,Kansas',
 'Jackson,South Dakota',
 'Merrimack,New Hampshire',
 'Hancock,Maine',
 'Pima,Arizona',
 'Boone,Missouri',
 'Kern,California',
 'Coos,New Hampshire',
 'Canyon,Idaho',
 "St. Mary's,Maryland",
 'Dallas,Missouri',
 'Pipestone,Minnesota',
 'Okanogan,Washington',
 'Phillips,Montana',
 'Riverside,California',
 'Kleberg,Texas',
 'Merced,California',
 'Plumas,California',
 'Grant,Washington',
 'Schoolcraft,Michigan',
 'Charleston,South Carolina',
 'Del Norte,California',
 'Rutherford,Tennessee',
 'Cuyahoga,Ohio',
 'Arapahoe,Colorado',
 'Douglas,Colorado',
 'Marinette,Wisconsin',
 'Jefferson,Nebraska',
 'Mercer,New Jersey',
 'Dyer,Tennessee',
 'Monroe,Florida',
 'Chelan,Washington',
 'Marion,Oregon',
 'Russell,Kentucky',
 'Fairfax,Virginia',
 'Santa Barbara,California',
 'Ocean,New Jersey',
 'San Diego,California',
 'Williamson,Tennessee',
 'Suffolk,New York',
 'San Mateo,California',
 'Middlesex,Massachusetts',
 'Richmond,New York',
 'Grays Harbor,Washington',
 'Accomack,Virginia',
 'Travis,Texas',
 'Carroll,New Hampshire',
 'Alameda,California',
 'Maricopa,Arizona',
 'Lane,Oregon',
 'Hidalgo,Texas',
 'McHenry,Illinois',
 'Polk,Oregon',
 'Panola,Texas',
 'Los Angeles,California',
 'Franklin,Massachusetts',
 'Josephine,Oregon',
 'Knox,Maine',
 'Plymouth,Massachusetts',
 'Otsego,Michigan',
 'Park,Wyoming',
 'Caddo,Louisiana',
 'Orleans,Louisiana',
 'Galveston,Texas',
 'Gallatin,Montana',
 'Warren,New Jersey',
 'Wakulla,Florida',
 'Blount,Tennessee',
 'Davidson,Tennessee',
 'Oakland,Michigan',
 'Worcester,Maryland',
 'Jefferson,Texas',
 'Livingston,Michigan',
 'Ingham,Michigan',
 'Dutchess,New York',
 'Marin,California',
 'Yankton,South Dakota',
 'El Paso,Texas',
 'Sevier,Tennessee',
 'Morris,New Jersey',
 'Wasco,Oregon',
 'Cameron,Texas',
 'Chatham,Georgia',
 'Oswego,New York',
 'Sawyer,Wisconsin',
 'Island,Washington',
 'Brazoria,Texas',
 'Rusk,Wisconsin',
 'Vilas,Wisconsin',
 'Howard,Maryland',
 'Highlands,Florida',
 'Bonneville,Idaho',
 'Marion,Alabama',
 'Onslow,North Carolina',
 'Placer,California',
 'Potter,Texas',
 'Cache,Utah',
 'Suffolk,Massachusetts',
 'Flathead,Montana',
 'Washtenaw,Michigan',
 'Contra Costa,California',
 'Baltimore,Maryland',
 'Fresno,California',
 'Pulaski,Arkansas',
 'Tazewell,Illinois',
 'Huntingdon,Pennsylvania',
 'Skagway-Hoonah-Angoon,Alaska',
 'Lake,Colorado',
 'Lincoln,Wyoming',
 'Santa Clara,California',
 'San Joaquin,California',
 'Washington,Oregon',
 'Rio Arriba,New Mexico',
 'Wood,Ohio',
 'Susquehanna,Pennsylvania',
 'Union,Oregon',
 'Wayne,North Carolina',
 'Montgomery,Ohio',
 'Washington,Arkansas',
 'Cape May,New Jersey',
 'Delaware,Pennsylvania',
 'Shiawassee,Michigan',
 'Lake,Montana',
 'Cook,Minnesota',
 'Mariposa,California',
 'Pike,Pennsylvania',
 'San Bernardino,California',
 'Harris,Texas',
 'Dallas,Texas',
 'Milwaukee,Wisconsin',
 'Ontario,New York',
 'San Luis Obispo,California',
 'Ozaukee,Wisconsin',
 'DeKalb,Illinois',
 'Pointe Coupee,Louisiana',
 'Chouteau,Montana',
 'Washington,Maine',
 'Monroe,New York',
 'Delaware,Ohio',
 'Greene,New York',
 'Chippewa,Michigan',
 'York,Pennsylvania',
 'Henry,Illinois',
 'Oneida,Wisconsin',
 'Kane,Illinois',
 'Gunnison,Colorado',
 'Larimer,Colorado',
 'Pinal,Arizona',
 'Jackson,Oregon',
 'Washington,Pennsylvania',
 'Franklin,Georgia',
 'Lee,Florida',
 'Lincoln,Oregon',
 'Franklin,Missouri',
 'Utah,Utah',
 'Cumberland,Maine',
 'Wayne,Michigan',
 'LaPorte,Indiana',
 'San Juan,New Mexico',
 'Dodge,Wisconsin',
 'Green Lake,Wisconsin',
 'Brown,Wisconsin',
 'Prowers,Colorado',
 'Owyhee,Idaho',
 'Lubbock,Texas',
 'Lucas,Ohio',
 'Dane,Wisconsin',
 'Sacramento,California',
 'Chenango,New York',
 'Macomb,Michigan',
 'Menard,Illinois',
 'Saguache,Colorado',
 'Scott,Arkansas',
 'Putnam,West Virginia',
 'Porter,Indiana',
 'Durham,North Carolina',
 'Bladen,North Carolina',
 'Orange,New York',
 'Apache,Arizona',
 'Sullivan,Tennessee',
 'Queens,New York',
 'Navajo,Arizona',
 'St. Johns,Florida',
 'Brewster,Texas',
 'Portage,Wisconsin',
 'Sandoval,New Mexico',
 'Dare,North Carolina',
 'Tippecanoe,Indiana',
 'Fall River,South Dakota',
 'Miami-Dade,Florida',
 'Hamilton,Tennessee',
 "Prince George's,Maryland",
 'Harvey,Kansas',
 'Madison,Tennessee',
 'Pike,Arkansas',
 'Nome,Alaska',
 'Manitowoc,Wisconsin',
 'Lawrence,Ohio',
 'Whatcom,Washington',
 'Bossier,Louisiana',
 'Grafton,New Hampshire',
 'Linn,Oregon',
 'Atlantic,New Jersey',
 'Addison,Vermont',
 'Mohave,Arizona',
 'Halifax,Virginia',
 'Dauphin,Pennsylvania',
 'Cimarron,Oklahoma',
 'Garfield,Utah',
 'King,Washington',
 'Roscommon,Michigan',
 'Belknap,New Hampshire',
 'Windsor,Vermont',
 'Cabell,West Virginia',
 'El Paso,Colorado',
 'Hawaii,Hawaii',
 'Woodson,Kansas',
 'Jefferson,Arkansas',
 'Stevens,Washington',
 'Roseau,Minnesota',
 'San Francisco,California',
 'Merrick,Nebraska',
 'Elko,Nevada',
 'Buffalo,Wisconsin',
 'Box Elder,Utah',
 'Freestone,Texas',
 'Penobscot,Maine',
 'Sedgwick,Kansas',
 'Anoka,Minnesota',
 'Worcester,Massachusetts',
 'Kenedy,Texas',
 'Hudson,New Jersey',
 'Surry,North Carolina',
 'Butte,California',
 'Wells,North Dakota',
 'Yuma,Colorado',
 'Chittenden,Vermont',
 'Brown,Ohio',
 'Chatham,North Carolina',
 'Lake,Minnesota',
 'Campbell,Tennessee',
 'Crittenden,Arkansas',
 'Coos,Oregon',
 'Hillsborough,Florida',
 'Coconino,Arizona',
 'Genesee,Michigan',
 'New Hanover,North Carolina',
 'Alfalfa,Oklahoma',
 'Klamath,Oregon',
 'Transylvania,North Carolina',
 'Nueces,Texas',
 'Tompkins,New York',
 'Forsyth,Georgia',
 'Green,Wisconsin',
 'Wabash,Indiana',
 'Georgetown,South Carolina',
 'Brevard,Florida',
 'Boulder,Colorado',
 'Hamilton,Indiana',
 'Franklin,Vermont',
 'Allegany,Maryland',
 'Terrell,Texas',
 'Clallam,Washington',
 'Palm Beach,Florida',
 'Jackson,Colorado',
 'Benton,Washington',
 'Rio Blanco,Colorado',
 'Frederick,Maryland',
 'Barnstable,Massachusetts',
 'Crook,Oregon',
 'Oneida,New York',
 'Red River,Louisiana',
 'Burleson,Texas',
 'Monterey,California',
 'Denton,Texas',
 'Santa Fe,New Mexico',
 'Grant,New Mexico',
 'Racine,Wisconsin',
 'Tuolumne,California',
 'Schenectady,New York',
 'Maui,Hawaii',
 'Hampton,South Carolina',
 'Benton,Oregon',
 'Middlesex,New Jersey',
 'Fulton,Arkansas',
 'Cattaraugus,New York',
 'Garland,Arkansas',
 'Tillamook,Oregon',
 'Montgomery,Kansas',
 'Barry,Michigan',
 'Somerset,Maryland',
 'Floyd,Georgia',
 'Douglas,Wisconsin',
 'Berkshire,Massachusetts',
 'Forest,Wisconsin',
 'Thomas,Nebraska',
 'Stanislaus,California',
 'District of Columbia,District of Columbia',
 'Kittitas,Washington',
 'DeSoto,Mississippi',
 'Pulaski,Kentucky',
 'Sanders,Montana',
 'Washington,Texas',
 'Salt Lake,Utah',
 'Rock,Wisconsin',
 'Lake,Oregon',
 'Hale,Alabama',
 'Broward,Florida',
 'Randolph,Georgia',
 'Iberia,Louisiana',
 'Giles,Virginia',
 'Jefferson,Colorado',
 'Colusa,California',
 'DeKalb,Alabama',
 'Seneca,New York',
 'El Dorado,California',
 'Calhoun,Texas',
 'Carroll,Illinois',
 'Craighead,Arkansas',
 'Oscoda,Michigan',
 'Fayette,Pennsylvania',
 'Teton,Wyoming',
 'Santa Cruz,Arizona',
 'Mendocino,California',
 'Lincoln,Maine',
 'Gloucester,New Jersey',
 'Lake,Tennessee',
 'Champaign,Illinois',
 'Ketchikan Gateway,Alaska',
 'Monmouth,New Jersey',
 'Shenandoah,Virginia',
 'Indian River,Florida',
 'Monroe,Illinois',
 'Trinity,California',
 'Litchfield,Connecticut',
 'Colfax,New Mexico',
 'Johnson,Kansas',
 'Eddy,New Mexico',
 'Hillsborough,New Hampshire',
 'Oconto,Wisconsin',
 'Stoddard,Missouri',
 'Stark,North Dakota',
 'Alger,Michigan',
 'East Baton Rouge,Louisiana',
 'Watauga,North Carolina',
 'Chambers,Texas',
 'Honolulu,Hawaii',
 'Huntington,Indiana',
 'Wallowa,Oregon',
 'Story,Iowa',
 'Armstrong,Texas',
 'Weber,Utah',
 'Niagara,New York',
 'Clatsop,Oregon',
 'Deschutes,Oregon',
 'Hancock,Ohio',
 'Orange,North Carolina',
 'Elkhart,Indiana',
 'Bradley,Arkansas',
 'Bexar,Texas',
 'Siskiyou,California',
 'Erie,New York',
 'Madison,North Carolina',
 'Lafayette,Wisconsin',
 'Walla Walla,Washington',
 'Bergen,New Jersey',
 'Curry,Oregon',
 'Kingsbury,South Dakota',
 'Clarendon,South Carolina',
 'Fond du Lac,Wisconsin',
 'Juneau,Wisconsin',
 'Clearwater,Idaho',
 'Vernon,Missouri',
 'Morgan,Alabama',
 'Sagadahoc,Maine',
 'Otero,New Mexico',
 'Putnam,Florida',
 'Yamhill,Oregon',
 'Putnam,New York',
 'Glades,Florida',
 'Kenai Peninsula,Alaska',
 'Iron,Utah',
 'Yavapai,Arizona',
 'Cheshire,New Hampshire',
 'Vernon,Wisconsin',
 'Glacier,Montana',
 'Shasta,California',
 'Carter,Montana',
 'Morgan,Missouri',
 'Shawano,Wisconsin',
 'Denali,Alaska',
 'Erie,Pennsylvania',
 'Wabasha,Minnesota',
 'Lee,Alabama',
 'Sierra,New Mexico',
 'Sevier,Utah',
 'Kent,Delaware',
 'Oklahoma,Oklahoma',
 'Bristol,Massachusetts',
 'Midland,Michigan',
 'Independence,Arkansas',
 'Rowan,North Carolina',
 'Hardin,Tennessee',
 'Fremont,Wyoming',
 'Bureau,Illinois',
 'Bent,Colorado',
 'Stark,Ohio',
 'Anchorage,Alaska',
 'Kings,New York',
 'Crawford,Arkansas',
 'Somerset,New Jersey',
 'Orleans,Vermont',
 'Wayne,New York',
 'Fairfield,Connecticut',
 'Hampden,Massachusetts',
 'Norfolk,Massachusetts',
 'Warren,Ohio',
 'Winnebago,Wisconsin',
 'St. Martin,Louisiana',
 'Menard,Texas',
 'Catron,New Mexico',
 'Barron,Wisconsin',
 'Wichita,Texas',
 'Door,Wisconsin',
 'McKenzie,North Dakota',
 'Skagit,Washington',
 'Polk,Arkansas',
 'Grand Traverse,Michigan',
 'Columbia,New York',
 'Franklin,North Carolina',
 'Obion,Tennessee',
 'Marshall,Alabama',
 'Taney,Missouri',
 'Richmond City,Virginia',
 'Douglas,Nebraska',
 'Mercer,Pennsylvania',
 'Phillips,Arkansas',
 'Perry,Alabama',
 'Crawford,Michigan',
 'Catoosa,Georgia',
 'New Haven,Connecticut',
 'Hennepin,Minnesota',
 'Burnet,Texas',
 'Kodiak Island,Alaska',
 'Tulare,California',
 'Colleton,South Carolina',
 'Newton,Arkansas',
 'Cumberland,Pennsylvania',
 'Morton,Kansas',
 'Missoula,Montana',
 'Lake,South Dakota',
 'Montgomery,Virginia',
 'Lorain,Ohio',
 'Hays,Texas',
 'Hernando,Florida',
 'Cassia,Idaho',
 'Washington,Rhode Island',
 'Fairbanks North Star,Alaska',
 'Rabun,Georgia',
 'Holt,Missouri',
 'Manistee,Michigan',
 'Valdez-Cordova,Alaska',
 'St. Charles,Louisiana',
 'Lincoln,Montana',
 'Greene,Ohio',
 'Tipton,Tennessee',
 'Cleveland,Oklahoma',
 'Anson,North Carolina',
 'Habersham,Georgia',
 'Cass,Missouri',
 'Carteret,North Carolina',
 'Amador,California',
 'Carter,Tennessee',
 'Trigg,Kentucky',
 'Socorro,New Mexico',
 'McKinley,New Mexico',
 'Rice,Minnesota',
 'Jackson,Iowa',
 'Beaufort,South Carolina',
 'Lincoln,New Mexico',
 'Oneida,Idaho',
 'St. Clair,Michigan',
 'Pocahontas,West Virginia',
 'Harford,Maryland',
 'Lynn,Texas',
 'Newton,Indiana',
 'Macon,Georgia',
 'Jackson,Missouri',
 'Dillingham,Alaska',
 'Broome,New York',
 'Daviess,Indiana',
 'Hunterdon,New Jersey',
 'Nassau,New York',
 'Waukesha,Wisconsin',
 'Berkeley,West Virginia',
 'Sullivan,Pennsylvania',
 'Waushara,Wisconsin',
 'Dunn,North Dakota',
 'Windham,Vermont',
 'Hill,Montana',
 'Mono,California',
 'Tom Green,Texas',
 'Kosciusko,Indiana',
 'Nelson,Virginia',
 'Warren,Pennsylvania',
 'Clark,Ohio',
 'Benewah,Idaho',
 'Mason,Illinois',
 'Madison,Indiana',
 'Herkimer,New York',
 'Jefferson,Wisconsin',
 'Haines,Alaska',
 'Windham,Connecticut',
 'Ogemaw,Michigan',
 'Aiken,South Carolina',
 'Onondaga,New York',
 'Cleburne,Arkansas',
 'Hood River,Oregon',
 'Dorchester,South Carolina',
 'Peoria,Illinois',
 'New London,Connecticut',
 'Lyon,Nevada',
 'Nez Perce,Idaho',
 'Modoc,California',
 'Lamar,Georgia',
 'Valley,Idaho',
 'Union,Tennessee',
 'Iowa,Wisconsin',
 'Walworth,Wisconsin',
 'Williamson,Illinois',
 'Tooele,Utah',
 'Walsh,North Dakota',
 'Lea,New Mexico',
 'Talbot,Maryland',
 'Wasatch,Utah',
 'York,Maine',
 'Multnomah,Oregon',
 'Fayette,West Virginia',
 'Manatee,Florida',
 'Zapata,Texas',
 'Inyo,California',
 'Cleveland,North Carolina',
 'St. Bernard,Louisiana',
 'Washington,Vermont',
 'Calvert,Maryland',
 'Graham,Arizona',
 "Queen Anne's,Maryland",
 'Washington,Maryland',
 'Alamosa,Colorado',
 'Gogebic,Michigan',
 'Albany,New York',
 'Angelina,Texas',
 'Fremont,Iowa',
 'Jackson,Mississippi',
 'Orange,Texas',
 'Bay,Florida',
 'Eagle,Colorado',
 'Humphreys,Tennessee',
 'Jefferson,Oregon',
 'Muskegon,Michigan',
 'Knox,Indiana',
 'Madison,Illinois',
 'Columbia,Oregon',
 'Cass,North Dakota',
 'Athens,Ohio',
 'Juneau,Alaska',
 'Franklin,Ohio',
 'Duval,Texas',
 'Tolland,Connecticut',
 'New York,New York',
 'Polk,Texas',
 'Tehama,California',
 'Montgomery,Pennsylvania',
 'Saginaw,Michigan',
 'Butler,Ohio',
 'Alpine,California',
 'Columbia,Wisconsin',
 'Polk,Wisconsin',
 'Pershing,Nevada',
 'Sarasota,Florida',
 'Morrow,Oregon',
 'Cross,Arkansas',
 'Duval,Florida',
 'Smith,Texas',
 'Luzerne,Pennsylvania',
 'Kenton,Kentucky',
 'Ashland,Wisconsin',
 'McDowell,North Carolina',
 'Aroostook,Maine',
 'West Baton Rouge,Louisiana',
 'Providence,Rhode Island',
 'Kidder,North Dakota',
 'Levy,Florida',
 'Wayne,Indiana',
 'Steuben,Indiana',
 'Dunn,Wisconsin',
 'Coleman,Texas',
 'Essex,New Jersey',
 'Jefferson,Florida',
 'Bledsoe,Tennessee',
 'La Paz,Arizona',
 'Grant,Oregon',
 'Allegan,Michigan',
 'Converse,Wyoming',
 'Northwest Arctic,Alaska',
 'Scotts Bluff,Nebraska',
 'Ulster,New York',
 'Sumter,Georgia',
 'Caledonia,Vermont',
 'Polk,Iowa',
 'Lake,Indiana',
 'Hamilton,New York',
 'Ellsworth,Kansas',
 'Delta,Texas',
 'Baldwin,Alabama',
 'Sheboygan,Wisconsin',
 'Montgomery,Maryland',
 'McIntosh,Georgia',
 'Finney,Kansas',
 'Cheboygan,Michigan',
 'Bayfield,Wisconsin',
 'Jasper,South Carolina',
 'Ottawa,Ohio',
 'Bear Lake,Idaho',
 'Loudoun,Virginia',
 'Pickaway,Ohio',
 'Bee,Texas',
 'Spotsylvania,Virginia',
 'Sussex,Virginia',
 'Westchester,New York',
 'Johnston,North Carolina',
 'Clarke,Georgia',
 'Summit,Ohio',
 'Lauderdale,Tennessee',
 'Sedgwick,Colorado',
 'Comal,Texas',
 'Bolivar,Mississippi',
 'Overton,Tennessee',
 'Gilliam,Oregon',
 'Antelope,Nebraska',
 'Schuylkill,Pennsylvania',
 'Day,South Dakota',
 'Fauquier,Virginia',
 'Jackson,North Carolina',
 'Union,Arkansas',
 'Madison,Nebraska',
 'Weston,Wyoming',
 'Harney,Oregon',
 'Effingham,Georgia',
 'Acadia,Louisiana',
 'Bullitt,Kentucky',
 'San Benito,California',
 'Arlington,Virginia',
 'Greene,Missouri',
 'Wayne,Ohio',
 'Rock Island,Illinois',
 'Washington,Wisconsin',
 'Camden,Georgia',
 'Wabaunsee,Kansas',
 'Osage,Oklahoma',
 'Marion,Indiana',
 'Iron,Wisconsin',
 'Rutland,Vermont',
 'Christian,Missouri',
 'Grand,Colorado',
 'Pinellas,Florida',
 'Woodbury,Iowa',
 'Edmonson,Kentucky',
 'Pulaski,Virginia',
 'Kane,Utah',
 'Northampton,Virginia',
 'Otter Tail,Minnesota',
 'Hamilton,Ohio',
 'Sussex,Delaware',
 'Osage,Kansas',
 'Stone,Missouri',
 'St. Louis City,Missouri',
 'Dakota,Nebraska',
 'Taylor,Wisconsin',
 'Johnson,Wyoming',
 'Hot Spring,Arkansas',
 'Weld,Colorado',
 'Marathon,Wisconsin',
 'Pierce,Wisconsin',
 'Adams,Colorado',
 'Stutsman,North Dakota',
 'Scott,Minnesota',
 'Laurel,Kentucky',
 'Hunt,Texas',
 'Yukon-Koyukuk,Alaska',
 'Nemaha,Nebraska',
 'St. Louis,Minnesota',
 'Davison,South Dakota',
 'Beaver,Pennsylvania',
 'Walker,Georgia',
 'Llano,Texas',
 'Jackson,Michigan',
 'Montgomery,Alabama',
 'Whitley,Kentucky',
 'Ross,Ohio',
 'Garrett,Maryland',
 'Brown,Indiana',
 'Mecklenburg,North Carolina',
 'Hubbard,Minnesota',
 'Keith,Nebraska',
 'Goliad,Texas',
 'Harrison,Texas',
 'Marion,West Virginia',
 'Kings,California',
 'Kenosha,Wisconsin',
 'Mecklenburg,Virginia',
 'Sherman,Oregon',
 'Northampton,Pennsylvania',
 'Nodaway,Missouri',
 'Sauk,Wisconsin',
 'Atchison,Missouri',
 'Hall,Nebraska',
 'Geauga,Ohio',
 'Dakota,Minnesota',
 'Benson,North Dakota',
 'Grant,North Dakota',
 'Bernalillo,New Mexico',
 'Mississippi,Arkansas',
 'Benton,Tennessee',
 'Winnebago,Illinois',
 'Yolo,California',
 'Pacific,Washington',
 'Morgan,West Virginia',
 'Marion,Kansas',
 'Clay,Alabama',
 'Westmoreland,Pennsylvania',
 'Clermont,Ohio',
 'DeKalb,Georgia',
 'Uintah,Utah',
 'Lewis,Washington',
 'Skamania,Washington',
 'McLean,Illinois',
 'Sumter,Alabama',
 'Hendry,Florida',
 'Ontonagon,Michigan',
 'Orleans,New York',
 'Clinton,Pennsylvania',
 'Lake and Peninsula,Alaska',
 'Ouray,Colorado',
 'Fulton,Kentucky',
 'Boone,Kentucky',
 'Meigs,Ohio',
 'Camden,New Jersey',
 'Newport,Rhode Island',
 'Washington,Missouri',
 'Morgan,Colorado',
 'Gallia,Ohio',
 'Live Oak,Texas',
 'Daggett,Utah',
 'Latah,Idaho',
 'Olmsted,Minnesota',
 'Okaloosa,Florida',
 'West Feliciana,Louisiana',
 'Nassau,Florida',
 'Rusk,Texas',
 'Washington,Utah',
 'Chesterfield,Virginia',
 'Minnehaha,South Dakota',
 'Portage,Ohio',
 'Montour,Pennsylvania',
 'Somervell,Texas',
 'Johnson,Iowa',
 'Lamb,Texas',
 'Douglas,Washington',
 'Fairfield,Ohio',
 'Chemung,New York',
 'Gibson,Indiana',
 'Brunswick,North Carolina',
 'Hancock,Mississippi',
 'Philadelphia,Pennsylvania',
 'Lewis,Tennessee',
 'Polk,Florida',
 'Sullivan,New York',
 'Garfield,Colorado',
 'Lancaster,Pennsylvania',
 'Columbia,Washington',
 'Hartley,Texas',
 'Ashtabula,Ohio',
 'Calcasieu,Louisiana',
 'Cuming,Nebraska',
 'Bristol,Rhode Island',
 'Brooks,Texas',
 'Routt,Colorado',
 'Limestone,Alabama',
 'Waldo,Maine',
 'Carbon,Utah',
 'Dickson,Tennessee',
 'Callaway,Missouri',
 'Clark,Nevada',
 'Union,New Jersey',
 'Paulding,Ohio',
 'Logan,Colorado',
 'Tucker,West Virginia',
 'Carbon,Montana',
 'Madison,Alabama',
 'Liberty,Montana',
 'Richland,Montana',
 'Livingston,Missouri',
 'Beltrami,Minnesota',
 'Somerset,Maine',
 'McCracken,Kentucky',
 'Cumberland,New Jersey',
 'Moffat,Colorado',
 'Bennington,Vermont',
 'Grant,Wisconsin',
 'Cass,Minnesota',
 'Berks,Pennsylvania',
 'Logan,Ohio',
 'Kendall,Illinois',
 'Crawford,Kansas',
 'Rains,Texas',
 'Boyle,Kentucky',
 'Oxford,Maine',
 'Slope,North Dakota',
 'Brazos,Texas',
 'Nye,Nevada',
 'Marquette,Wisconsin',
 'Matagorda,Texas',
 'Clackamas,Oregon',
 'Le Flore,Oklahoma',
 'Marshall,Minnesota',
 'Mackinac,Michigan',
 'Clear Creek,Colorado',
 'Livingston,Louisiana',
 'Cass,Michigan',
 'Bandera,Texas',
 'Itasca,Minnesota',
 'Lafayette,Missouri',
 'Blue Earth,Minnesota',
 'Lee,Iowa',
 'Whitfield,Georgia',
 'Larue,Kentucky',
 'Jasper,Illinois',
 'Mahoning,Ohio',
 'Bibb,Alabama',
 'St. Tammany,Louisiana',
 'Williamson,Texas',
 'Baker,Georgia',
 'Schoharie,New York',
 'Stanton,Nebraska',
 'Nantucket,Massachusetts',
 'Anderson,Texas',
 'Wexford,Michigan',
 'Taylor,Florida',
 'Fort Bend,Texas',
 'Warren,Indiana',
 'Osceola,Florida',
 'San Juan,Utah',
 'Jeff Davis,Texas',
 'Wyoming,New York',
 'Winona,Minnesota',
 'Montrose,Colorado',
 'Washita,Oklahoma',
 'Logan,Oklahoma',

In [47]:
states = pd.read_csv("C:\\Users\\Public\\state.csv")

state_list = states['0'].tolist()

In [50]:
county_state = pd.read_csv("C:\\Users\\Public\\county_state.csv")

county_state['state'].

          county    state
0        Autauga  Alabama
1        Baldwin  Alabama
2        Barbour  Alabama
3           Bibb  Alabama
4        Calhoun  Alabama
...          ...      ...
2215    Sublette  Wyoming
2216  Sweetwater  Wyoming
2217       Teton  Wyoming
2218    Washakie  Wyoming
2219      Weston  Wyoming

[2220 rows x 2 columns]