In [1]:
import joblib
import pandas as pd

In [7]:
birds = joblib.load("C:/Users/jayja/Desktop/repos/noreallyimfine/ebird-project/bird_app/utils/birds_list.joblib")

In [9]:
birds.sort()

In [37]:
states = joblib.load("utils/county_state.joblib")
counties_states = [state.split(',') for state in states]
counties_states = sorted(counties_states, key=lambda x: (x[1], x[0]))

In [39]:
cs_dict = {
    'county': [cs[0] for cs in counties_states],
             'state': [cs[1] for cs in counties_states]
}

pd.DataFrame()

SyntaxError: invalid syntax (<ipython-input-39-d48d9ba15bd2>, line 1)

In [ ]:
counties_states = [state.split(',') for state in states]
counties

In [15]:
df = pd.read_csv("../data/labelled_bird_sample.csv")

In [16]:
df.head()

,name,observ_count,country,state,county,latitude,longitude,observ_date,month,season,county_state,State,CountyName,region,seas_reg_rare,target
0,Magnolia Warbler,2,United States,Illinois,Cook,41.775629,-87.583273,1995-08-27,8,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Uncommon,1
1,Great Blue Heron,2,United States,Illinois,Cook,41.956746,-87.913027,1999-07-24,7,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0
2,Purple Martin,6,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0
3,Common Yellowthroat,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0
4,Eastern Towhee,3,United States,Illinois,Cook,41.707907,-87.886848,1965-06-19,6,Summer,"Cook,Illinois",Illinois,Cook,Great Lakes,Common,0

In [22]:
counties = df[['county', 'state']].unique()
counties

AttributeError: 'DataFrame' object has no attribute 'unique'

In [19]:
states = pd.Series(sorted(df['state'].unique().tolist()))
states

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
dtype: object

In [20]:
states.to_csv("state.csv", index=False)